<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<style type="text/css">
		.abc{
			width: 500px;
			height: 50px;
			background-color: red;
			text-align: center;
		}
		.xyz{
			background-color: yellow;

		}
	</style>

</head>
<body>
<div class="abc">
<h1>Hello this home Page</h1></div><br>
<div class="xyz">
<form method='post'>
	<input type="text" name="username" placeholder="Enter Your Name"><br>
	<input type="password" name="password" placeholder="Enter your Password"><br>
	<input type="email" name="email" placeholder="Enter your Email"><br>
	<input type="submit" name="">
</form>
</div>
</body>
</html>